body{
    background-color: 
    font-family: 'Poppins', sans-serif;
}
.navmenupro{
    
width: 1350px;
height: 60px;
background-color:black;
background-image: url(images/HACKING12.jpg);
}
.navmenupro ul{
    color:red;

background-color: gray;
}
.navmenupro ul li{
list-style-type: none ;
font-size: 25px;
float: left;
margin-left: 10%;
padding: 5px;
background-color:;
}

.navmenupro ul li:hover{
    list-style-type: none ;
    font-size: 30px;
    float: left;
    margin-left: 10%;
    padding: 5px;
    color:red;
    padding-bottom: 11px;
    }



.navmenupro ul li a{
    text-decoration: none;
    color: white;
    padding-bottom: 5px;


}


.navmenupro ul li a:hover{
    text-decoration: none;
    color: springgreen;
    cursor:grab;


}


.cyber {
    color: red;
    font-size: 100px;
    margin: 0px;
    padding: 10px;
}


.cyber:hover {
    color: black;
    font-size: 100px;
    margin: 0px;
    padding: 10px;
    animation: reverse;
}

.midcorn{
    margin-top: 40px;
    margin-bottom: 80px;
}

.midhit{
    display: flex;

}

.middiv1{
    margin-top: 7px;
    width: 60%;
    text-align: center;
    margin-bottom: 30px;
    padding: 50px;

}
.middiv1 Headone{
font-size: 50px;

}
.p1{
    font-size: larger;
    font-weight: 700px;
    word-wrap: inherit;

    
}





















































.midimg{

width: 40%;
height: 250px;
border-radius: 20px;
}
.Headone{
    text-align: center;
}

.twomidcorn{
    margin-bottom: 40px;
}
.red{
 color:red;
 background-color:yellowgreen;
 margin: 6px;
 padding: 10px;
 

}
.red a {
    text-decoration: none;
}


.red:hover{
    color:black;
    background-color:rgb(205, 50, 50);
    margin: 6px;
    padding: 7px;
    cursor: all-scroll;
    
   
   }

   

   
   .cybercrack{

 display: flex;
 margin-bottom: 700px;
 margin-top: 400px;
 

   }
   .imgto{
width: 50%;
margin-bottom: 50px;
height: 200px;
margin-left: 30px ;




   }
   .bigd{
    width: 50%;
    margin-bottom: 50px;
    text-align: center;
    


   }

.flexd{
   
    display: flex;
    

}
.alert{
    color: red;
    font-weight: 800px;
    font-size: 35px;
}
.lol{
    color: green;
}

.bigd:hover{
    width: 50%;
    margin-bottom: 50px;
    text-align: center;
    background-image: linear-gradient(black,red);


   }
   .alert:hover{
    color: paleturquoise;
    font-weight: 800px;
    font-size: 35px;
}

.thirdparty{
    

}
.htwo{
    text-align: center;
    color: red;
    font-size: 45px;
    font-weight: 800px;
    margin: 50px;
    padding: 100px;
}


.htwo:hover{
    text-align: center;
    color: green;
    font-size: 45px;
    font-weight: 800px;
    margin: 50px;
    padding: 100px;
    animation:cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: all-scroll;
}
.trojan{
display: flex;
text-align: center;



    
}

.trojan:hover{
    display: flex;
    text-align: center;
    background-image: black,red;
    
    
    
        
    }

.trojanone{
    box-shadow: 7px 8px 8px gray;
    margin-left: 10px;
    padding: 10px;

}
.trojantwo{
    box-shadow: 7px 8px 8px gray;
    margin-left: 10px;
    padding: 10px;

}
.rat{
    color: red;
}


.foursec{
    background-image: url(images/NETWORKIN8.jpg);
    height: 400PX;
    width: 1500PX;
    margin: 20PX;
    padding: 30PX;

}
.kik{
    text-align: center;
    font-size: 25px;
     color:black;
    font-weight: 300px;
    margin: 20px;
    padding: 20px;
}















































































































